#flight {
    zoom : 8;
    margin-top: -8px;
}

#selection {
    zoom : 11;
    margin-top: 8px;
    margin-left: -1px;
    margin-bottom : -30px;
    margin-top: -25px;
}

#worldwide {
    zoom: 13;
    margin-bottom: -56px;
    margin-left : -78px;
}

.worldwide_text {
    margin-top : -160px;
}