<!DOCTYPE html>
<html>

<head>
    <title>Los Angeles Lace Corporation</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/css/gumby.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" href="/assets/css/layout.css">
    <script src="/assets/js/ga.js"></script>
</head>

<body>
    <div class="navbar" id="nav1">
        <div class="row"><a class="toggle" gumby-trigger="#nav1 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
            <h4 class="four columns logo" style="color:#FFF;">LALACE Corporation</h4>
            <ul class="eight columns">
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    {{ content }}
    <div class="row">
        <div class="centered four columns">
            <p>© 2021 Los Angeles Lace Corporation</p>
        </div>
    </div>
</body>

</html>
